* {
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 80%;
    height: 300px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Qwitcher Grypen', cursive;*/
    font-size: 18px;
    justify-content: center;
    text-align: center;
    
}    

html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 23%, rgb(218, 34, 163) 100%); 
}

.card{
    margin: auto;
    font-size: 15px;

}


#carouselExampleCaptions{
    display: flex;
    align-items: center;
    justify-content: center;
}


.text-center{
    display: inline;
}


#apaisado{
    margin-top: -15%;
    background: linear-gradient(135deg, rgb(229, 218, 230) 23%, rgb(218, 34, 163) 100%); 
}